<div class="create">

  <h4>予約完了画面</h4>
  <hr size=".5px" color="#bbb">
  <%= render "shared/error", obj: @post %>

  <div class="create_form">

          <div class="form-group">
            <br>
            <div class="posts_tbody">
            <% if @reservation.room_image? %>
              <%= link_to"/rooms/#{@reservation.room}" do %>
                <%= image_tag @reservation.room_image, class:"room_show_img" %>
              <% end %>
              <% else %>
              <%= link_to"/rooms/#{@reservation.room}" do %>
                <%= image_tag '/default.png', class:"room_show_img"%>
              <% end %>
              <% end %><br><br>
            ルーム名：<%= link_to @reservation.room_name,"/rooms/#{@reservation.room}"%> <br><br>
            </div>
            予約名：<%=  @reservation.user.name %>様 <br><br>
            チェックイン：<%= @reservation.start_date %><br><br>
            チェックアウト：<%= @reservation.end_date %><br><br>
            人数：<%= @reservation.member %>名様<br><br>
            合計金額：<%= @reservation.total %>円<br><br>
            </div>

            <div class="edit_btn">
              <%= link_to("予約一覧へ",reservations_path)%>
            </div>

  </div>
</div>
