 <div class="profile_container">
  <div class="create">
    <h3>管理者プロフィール</h3>
    <hr size=".5px" color="#bbb">

    <div class="create_form">
        <div class="form-group">
          <div class="posts_tbody">
            <% if @room.user.image? %>
              <div class="room.user_page">
                <%= image_tag @room.user.image.url,class:"room_show_img" %><br>
              </div>
            <% else %>
              <div class="room.user_page">
                  <%= image_tag "default.png",class:"room_show_img" %>
              </div>
            <% end %>
            <br><br>
            <h6>ホスト名：<%= @room.user.name %> <br><br></h6>
            <h6>自己紹介：<%= @room.user.introduction %> <br><br></h6>

            <div class="edit_btn">
              <%= link_to("戻る",room_path)%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
